.call-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
        height: 88%;
        border-radius: 2.5rem;
    }
}

@media screen and (max-width: 765px) {
    .call-section{
        height: 35vh;
        width: 96%;
        margin: 0 auto;
        img{
            border-radius: 1.5rem;
        }
    }
}