.different_container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    h1{
        font-size: 6rem;
        color: #5A320F;
        text-transform: uppercase;
        font-family: "Bebas Neue", serif;
        line-height: .9;
        letter-spacing: 3px;
    }
    p{
        width: 60%;
        color: #5A320F;
        font-weight: 600;
    }
    button{
        padding: 1rem 3rem;
        font-weight: 600;
        font-size: 18px;
        color: #5A320F;
        background: transparent;
        border: 2px solid #5A320F;
        border-radius: 2rem;
    }
}